<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout"> <!-- 어디 폴더안에 있었다면 templates/basicLayout /웹서버 root 기준 -->

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login.css}">
    </th:block>

    <th:block layout:fragment="content">
        <div th:if="${param.needEmail != null and param.needEmail[0] == '1'}"> 이메일 인증을 시도해주세요.</div>
        <div th:if="${param.auth != null and param.auth[0] == '1'}"> 인증되었습니다.</div>
        <div th:if="${param.auth != null and param.auth[0] == '0'}"> 인증에 실패하였습니다.</div>
        <!--/*타임리프 주석
        <div th:if="${request.getParameter('auth') == '1'}" th:text="authauth"></div>
        */-->
        <div th:text="${param.auth}"></div>
        <h1>login</h1>
        <div>
            <a th:href="@{join}">회원가입</a>
        </div>
    </th:block>

</html>